<%- include a_header %>

<!--START:main box-->
<div class="col-sm-12" id="content">
    <div class="row">
        <h2 style="margin: 10px 20px">商品</h2>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">添加</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <a href="/a_add/commodity" class="btn btn-info ">添加商品类型</a>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">筛选</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <form method="get">
                        关键字：
                        <input type="text" name="keyword">
                        <button class="btn btn-info btn-sm" type="submit">确定</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">列表</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <table class="table table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>文字</th>
                            <th>删除</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% commodity.forEach(function(o, i){ %>
                        <tr>
                            <td><%= o.number %></td>
                            <td><%= o.text %></td>
                            <td><a class="btn btn-danger btn-sm" onclick="cfm('/a_del/commodity/<%= o._id %>');">delete</a></td>
                            <td><a class="btn btn-warning btn-sm" href="/a_detail/commodity/<%= o._id %>">detail</a></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END:main box-->

<%- include a_footer %>