<%- include a_header %>


<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">

        <h2 style="margin: 10px 20px">商品</h2>

        <div class="col-lg-12">
            <div class="panel panel-warning">
                <!--本单元标题-->
                <div class="panel-heading">详情</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <form method="post" enctype='multipart/form-data'>
                        编号：<input type="text" value="<%= data.number %>" name="number">
                        <br/>

                        文本输入框：<input type="text" value="<%= data.text %>" name="text">
                        <br/>

                        图片：<input type="file" name="cover">
                        <img class="thb" src="/images/upload/commodity/<%= data.cover %>" alt="无图" align="middle">
                        <% if(data.cover){ %>
                        &nbsp;&nbsp;&nbsp;图片名称：<%= data.cover %>
                        <% } %>
                        <br>

                        下拉菜单：
                        <% var catobj = {a: 'a', b: 'b', c: 'c'}; %>
                        <select name="cat">
                            <% for(var key in catobj){ %>
                            <option value="<%= key %>" <% if(data.cat == key){ %>selected="selected" <% } %>><%= catobj[key] %></option>
                            <% } %>
                        </select>
                        <br />

                        <div class="selectList_area">
                            类别：
                            <select class="level1" name="level1">
                            </select>
                            <select class="level2" name="level2">
                            </select>
                            <select class="level3" name="level3">
                            </select>
                        </div>

                        文字输入域：
                        <br/>
                        <textarea id="summernote" class="summernote" name="textarea"><%= data.textarea %></textarea>
                        <br/>

                        <button class="btn btn-warning" type="submit">保存</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<script text="text/javascript">
    //多级联动菜单
    $(function () {
        var area = "/common/link_select/area.json";
        var initArea = [
            "<%= data.level1 %>",
            "<%= data.level2 %>",
            "<%= data.level3 %>"
        ];
        initLinkSelect(".selectList_area",area,initArea);
    });
</script>

<%- include a_footer %>

