<%- include header %>

<!--START:main-->
<!-- Docs page layout -->
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>会员中心</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">

        <div class="col-md-2">
            <div class="hidden-print hidden-xs hidden-sm" role="complementary">
                <ul class="nav">
                    <li><a href="#bookmark-1">基本信息</a></li>
                    <li><a href="#bookmark-2">账号安全</a></li>
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </div>
        </div>

        <div class="col-md-8" role="main">
            <div class="bs-docs-section" style="">
                <h3 id="bookmark-1" class="page-header">基本信息</h3>
                <form method="post" enctype='multipart/form-data'>
                    会员ID：例如：ligle123456789
                    <br />
                    邮箱：<input type="email" name="email" disabled="disabled" value="<%=data.email%>" ><a>更改登陆邮箱</a>
                    <br />
                    手机：<input type="cellphone" name="cellphone" disabled="disabled" value="<%=data.cellphone%>"><a>更改手机号码</a>
                    <br />
                    昵称：<input type="text" name="nickname" value="<%=data.nickname%>">
                    <br />
                    <hr />

                    姓名：<input type="text" name="name" value="<%=data.name%>">
                    <br />
                    联系电话：<input type="contact" value="">
                    <br />
                    <div class="selectList_area" style="margin:5px 0px;">
                        位置：
                        <select class="level1" name="pro">
                        </select>
                        <select class="level2" name="city">
                        </select>
                        <select class="level3" name="dis">
                        </select>
                    </div>
                    详细地址：
                    <textarea name="address"></textarea>
                    <hr />

                    生日：<input type="text" name="birth" value="yyyy-mm-dd">
                    <br />
                    性别：男/女/保密
                    <br />
                    签名档：
                    <br />
                    <textarea name="signature"><%=data.signature%></textarea>

                    <input type="submit" value="保存修改" class="btn btn-info btn-md">
                </form>

            </div>

            <div class="bs-docs-section" style="">
                <h3 id="bookmark-2" class="page-header">重设密码</h3>
		    <%= (!!locals.error)?error:'' %>
                <form method="post" enctype='multipart/form-data'>
                    原密码：<input type="password" name="password">
                    <br />
                    新密码：<input type="password" name="newpassword">
                    <br />
                    确认新密码：<input type="password">
                    <br />
                    <input type="submit" value="保存修改" class="btn btn-danger btn-md">
                </form>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<script type="text/javascript">
    $(function () {
        var area = "/common/link_select/area.json";
        var initArea = [
	"<%= data.pro %>",
	"<%= data.city %>",
	"<%= data.dis %>"
        ];
        initLinkSelect(
                ".selectList_area",
                area,
                initArea);
    });
</script>

<%- include footer %>