<%- include a_header %>

<!--START:main box-->
<div class="col-sm-12" id="content">
    <div class="row">
        <h2 style="margin: 10px 20px">基本 / <a href="/a_add/basic" class="btn btn-info ">添加基本类型</a></h2>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">筛选</div>
                <div class="panel-body">
                    <form method="get">
                        <!-- /btn-group -->
                        关键字：
                        <input type="text" name="keyword">
                        <button class="btn btn-info btn-sm" type="submit">确定</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">列表</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <table class="table table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>文本</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% basic.forEach(function(o, i){ %>
                        <tr>
                            <td><%= o.number %></td>
                            <td><%= o.text %></td>
                            <td>
                                <a class="btn btn-warning btn-md" href="/a_detail/basic/<%= o._id %>">查看</a>
                                <a class="btn btn-danger btn-xs" onclick="cfm('/a_del/basic/<%= o._id %>');">删除</a>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END:main box-->
<%- include ../part/page %>
<%- include a_footer %>