<%- include a_header %>
<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <p class="ligle-page-title">
            基本
        </p>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">详情</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <form method="post" enctype='multipart/form-data'>
                        <table class="table table-hover">
                            <tr>
                                <th>编号:</th>
                                <td><input type="text" name="number" value="<%= data.number %>" datatype="*"></td>
                            </tr>
                            <tr>
                                <th>标题:</th>
                                <td><input type="text" name="title" value="<%= data.title %>" datatype="*"></td>
                            </tr>
                            <tr>
                                <th>图片：</th>
                                <td>
                                    <input type="file" name="cover" datatype="*">
                                    <img class="thb" src="<%= data.cover?data.cover.path:'' %>" alt="无图" align="middle">
                                    <% if(data.cover){ %>
                                    <br />
                                    图片名称：<%= data.cover.origin %>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <th>类别：</th>
                                <td>
                                    <% var catobj = {a: 'a', b: 'b', c: 'c'}; %>
                                    <select name="cat">
                                        <% for(var key in catobj){ %>
                                        <option value="<%= key %>" <% if(data.cat == key){ %>selected="selected" <% } %>><%= catobj[key] %></option>
                                        <% } %>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>所在地：</th>
                                <td>
                                    <div class="selectList_area">
                                        <select class="level1" name="pro">
                                        </select>
                                        <select class="level2" name="city">
                                        </select>
                                        <select class="level3" name="dis">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">详情：</th>
                            </tr>
                            <tr>
                                <td colspan="2"><textarea id="summernote" class="summernote" name="textarea" datatype=""><%= data.textarea %></textarea></td>

                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <button class="btn btn-warning btn-md" type="submit">保存</button>
                                    <input type="reset"  class="btn btn-default btn-xs" value="重 置" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END:main-->

<script text="text/javascript">
    //多级联动菜单
    $(function () {
        var area = "/common/link_select/area.json";
        var initArea = [
            "<%= data.pro %>",
            "<%= data.city %>",
            "<%= data.dis %>"
        ];
        initLinkSelect(".selectList_area",area,initArea);
    });
</script>

<%- include a_footer %>

