<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">
    <div class="row">
        <p class="ligle-page-title">
            会员
        </p>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">会员列表</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <table class="table table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <th>邮箱</th>
                            <th>手机</th>
                            <th>昵称</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.forEach(function(o, i){ %>
                        <tr>
                            <td><%= o.email %></td>
                            <td><%= o.cellphone %></td>
                            <td><%= o.nickname %></td>
                            <td>
                                <a class="btn btn-success btn-sm" href="/a_detail/member/<%= o._id%>">查看</a>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <%- include ../part/page %>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <!--本单元标题-->
                <div class="panel-heading">筛选</div>
                <!--本单元内容-->
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" style="position: relative;top: 2px">搜索</button>
                            </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>


    </div>
</div>
<!--END:main-->

<%- include a_footer %>