<%- include a_header %>

<!--START:main-->
<div class="col-sm-12" id="content">

    <div class="panel panel-default">
        <div class="panel-heading">会员详情</div>
        <div class="panel-body">
            <table style="width: 100%"  class="table table-hover">
                <tbody>
                <tr >
                    <td style="width:200px"><h3>基本信息</h3></td>
                    <td></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><%=email%></td>
                </tr>
                <tr>
                    <td>手机</td>
                    <td><%=cellphone%></td>
                </tr>
                <tr>
                    <td>昵称</td>
                    <td><%=nickname%></td>
                </tr>
                <tr>
                    <td><h3>送货地址</h3></td>
                    <td><%=delivery_addr%></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><%=name%></td>
                </tr>
                <tr>
                    <td>位置</td>
                    <td><%=pro%>-<%=city%>-<%=dis%></td>
                </tr>
                <tr>
                    <td>详细地址</td>
                    <td><%=address%></td>
                </tr>
                <tr>
                    <td><h3>个人资料</h3></td>
                    <td></td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td><%=birth%></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td><%=sex%></td>
                </tr>
                <tr>
                    <td>签名档</td>
                    <td><%=signature%></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<!--END:main-->

<%- include a_footer %>